@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #1b1b1b;
	--primary: #ff0062;
	--primary-foreground: #ffffff;
	--secondary: #268383;
	--secondary-foreground: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--font-sans: var(--font-rubik);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1b1b1b;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-rubik);
}

html,
body {
	height: 100%;
	width: 100%;
}
